@import "blocks/Board.css";
@import "blocks/Main.css";
@import "blocks/Sidebar.css";

* {
    margin: 0;
    padding: 0;
}

.app {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #312e2b;
}